<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Spring Boot </title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<h3> <a href="/home">HOME PAGE</a> </h3>
<div style="display: flex;">
	<p >Welcome &ensp; </p>
	<p th:if="${userDetails.username}" th:text="${userDetails.username}"> </p>
</div>
<ul>
	<li><a href="/rating/list">Rating list</a></li>
	<li><a href="/rating/add">Add Rating</a></li>
	<li><a href="/rating/update">Update Rating</a></li>
	<li><a href="/rating/delete">Delete Rating</a></li>
</ul>
<ul>
	<li><a href="/rating/add"> RuleName list</a></li>
	<li><a href="/rating/add">Add RuleName</a></li>
	<li><a href="/rating/add">Update RuleName</a></li>
	<li><a href="/rating/add">Delete RuleName</a></li>
</ul>
<ul>
	<li><a href="/rating/add"> curvePoint list</a></li>
	<li><a href="rating/add">Add curvePoint</a></li>
	<li><a href="rating/add">Update curvePoint</a></li>
	<li><a href="rating/add">Delete curvePoint</a></li>
</ul>
<ul>
	<li><a href="/rating/add">bidList list</a></li>
	<li><a href="rating/add">Add bidList</a></li>
	<li><a href="rating/add">Update bidList</a></li>
	<li><a href="rating/add">Delete bidList</a></li>
</ul>

</body>
</html>